IGNORAR TUDO ISSO, PARA FAZER FUNCIONAR DIGITE npm i NO CONSOLE E RODE NORMALMENTE COM npx expo start














Documentação Expo -> https://docs.expo.dev

Para abrir o arquivo AppSaoCamilo
C:\GitHub_PII\SaoCamilo_GestaoSaude\SaoCamiloGestaoSaude\AppSaoCamilo

Dentro da pasta rodar -> npx expo start (junto com emulador aberto(android))

Dependências do banco de dados:
npm install pg
npm install @types/pg --save-dev
npm install pg-promise
npm install postgres

Dependências da api do Google Drive:
npm install googleapis@105 @google-cloud/local-auth@2.1.0 --save

Dependências do envio de email:
npm install nodemailer --save

Para router:
npm install @react-navigation/native
npm install @react-navigation/native-stack

outros intall's
npm install expo-status-bar  